*{
    margin:0;
    padding:0;
}
/************début fonts************/
@font-face {
    font-family: 'Dolce';
    src: url('../fonts/DolceVita.eot');
    src: url('../fonts/DolceVita.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVita.woff2') format('woff2'),
        url('../fonts/DolceVita.woff') format('woff'),
        url('../fonts/DolceVita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEOTERIC';
    src: url('../fonts/NEOTERIC-Bold.eot');
    src: url('../fonts/NEOTERIC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEOTERIC-Bold.woff2') format('woff2'),
        url('../fonts/NEOTERIC-Bold.woff') format('woff'),
        url('../fonts/NEOTERIC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce Vita';
    src: url('../fonts/DolceVitaLight.eot');
    src: url('../fonts/DolceVitaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVitaLight.woff2') format('woff2'),
        url('../fonts/DolceVitaLight.woff') format('woff'),
        url('../fonts/DolceVitaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/**************fin fonts*************/
 header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-right: 15px;
 }
header img {
    height:40px;
    padding-top: 10px;
    padding-left: 10px;
    }
header nav {
 display: flex;
 align-items: end;

 }
 header nav ul{
    list-style: none;
    display:flex;
 
 }
 header nav ul li{
    display: flex;
    align-items: baseline;
 }
 header nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
    font-style: bold;
    font-size: 20px;
    height: 30px;
    box-sizing: border-box;
    font-family: 'Dolce';
   
 }
 header nav ul li a:hover {
    border-bottom: 5px solid #333333;
 }
 header nav ul li p {
    color: #333333;
    font-style: bold;
    font-size: 15px;
    margin: 5px; 
 }
 main section { 
    height: calc(100vh - 60px);  
  background-image: url(../images/fond3\ \(1\).jpg);
  background-size:cover; 
}
  main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 180px;
    color: white;
    text-align: center; 
    font-size: 100px;
    font-family: 'Dolce Vita';
  }
 

