/************début fonts************/
@font-face {
    font-family: 'Dolce Vita';
    src: url('../fonts/DolceVita.eot');
    src: url('../fonts/DolceVita.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVita.woff2') format('woff2'),
        url('../fonts/DolceVita.woff') format('woff'),
        url(../fonts/'../fonts/DolceVita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEOTERIC';
    src: url('../fonts/NEOTERIC-Bold.eot');
    src: url('../fonts/NEOTERIC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEOTERIC-Bold.woff2') format('woff2'),
        url('../fonts/NEOTERIC-Bold.woff') format('woff'),
        url('../fonts/NEOTERIC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce Vita';
    src: url('../fonts/DolceVitaLight.eot');
    src: url('../fonts/DolceVitaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVitaLight.woff2') format('woff2'),
        url('../fonts/DolceVitaLight.woff') format('woff'),
        url('../fonts/DolceVitaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/**************fin fonts*************/
header img {
    margin: 20px;
}
 header {
    height: 30px;
 }
 header nav ul{
    list-style: none;
 }
  div:nth-of-type(2){
    display: inline-flex;
    justify-content: right;
    position: absolute;
    top: 5%;
    left: 50%;
 }

  main h1 {
    color: white;
    text-align: center; 
    font-size: 60px;
    padding: 20%;
    margin: 0px 0px;
  }
 
main section {   
  background-image: url(../images/fond3\ \(1\).jpg);
  background-size:cover;
  height: 100vh;
  
}
{
    margin: 0;
    padding: 0;
}
header {
    height: 100px;
}